.skill-list {
  margin: 10px 0;
}

.step-action button {
  margin-right: 10px;
}

div.file {
  position: relative;
  overflow: hidden;
}

div.file > input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

