<!--<button (click)="loginWithGoogle()" class="google-login-btn">-->
<!--  Google-->
<!--</button>-->

<div class="jumbotron bg-transparent text-center">
  <div class="card text-center">
    <h6 class="card-header">
      Test Asgmt
    </h6>
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
      <p class="card-text">Sign in with</p>
    </div>
    <div class="card-block">
      <button class="btn btn-social-icon btn-google" (click)="loginWithGoogle()">
        <img src="assets/google_login.svg" style="height: 32px">
      </button>
    </div>
  </div>
</div>
